body{
	padding: 0px;
}
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover{
	background-color: #222222;
}
.container-fluid{
	padding-right: 40px;
	padding-left: 40px;
}
.btn-subscribe{
    background-color: rgba(255, 105, 131, 0.97);
    border-color: #F9657E;
    color: white;
}
.image-notification{
	opacity: .8;
	width: 16px;
}
.image-notification:hover{
	opacity: 1;
}
.btn-inverse{
    margin: 10px 0;
    color: white;
    opacity: .7;
    font-size: 13px;
}
.btn-inverse:hover{
    opacity: 1;
    color: white;
}
.btn.active, .btn:active{
	border: 1px solid black;
}
.container-fluid-cs{
	padding: 15px !important;

}
.main-section{
	position: relative;
	top: 55px;
}
img.user-image {
    width: 100%;
    height: 200px;
}
.friend-image{
	width: 64px;
    height: 64px;
    border-radius: 4px;
    border: 3px solid whitesmoke;
}
.friend-image-notification{
	width: 32px;
    border-radius: 4px;
    border: 3px solid whitesmoke;	
}
.friend-name{
	font-size: 12px;
}
.user-image{
	border-radius: 5px 5px 0 0;
}
.right-left-border{
	border-right: 2px solid #eee;
	border-left: 2px solid #eee;
}
.gossip-girls-icon{
	width: 32px;
}
.inline{
	display: inline;
}
.timeline-item-content{
	border: 3px solid #dcdcdc;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 10px;
}
.timeline-heading-icon{
	width: 32px;
    height: 32px;
	border-radius: 2px;
}
.time-stamp{
    font-weight: 600;
}
.message{
	padding: 15px 20px;
	text-align: justify;
}

.facebook-share-box {
    width: 100%;
}
.facebook-share-box .share {
    -webkit-transition: 0.1s ease-out height;
    -moz-transition: 0.1s ease-out height;
    -ms-transition: 0.1s ease-out height;
    -o-transition: 0.1s ease-out height;
    transition: 0.1s ease-out height;
    clear: both;
    background: white;
    border: 2px solid #dddddd;
    margin-bottom: 10px;
    position: relative;
}
 
.facebook-share-box .share .arrow {
    /*background: url(arrow.png) no-repeat #dddddd;*/
    position: absolute;
    width: 14px;
    height: 10px;
    left: 4px;
    display: inline;
    top: -10px;
    -webkit-transition: 0.3s ease-out all;
    -moz-transition: 0.3s ease-out all;
    -ms-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
}
 
.facebook-share-box .post-types li a {
    color: #085083;
    text-decoration: none;
}
 
.facebook-share-box .post-types li a.active {
    color: #404040;
}
 
.facebook-share-box .post-types {
    padding-left: 5px;
}
 
.facebook-share-box ul {
    list-style: none;
    margin-bottom: 9px;
}
 
.facebook-share-box .post-types li {
    display: inline;
    margin-right: 10px;
}
 
.message {
    border-radius: 0;
    border: none;
}
.panel {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}
.privacy-dropdown {
    width: 100px;
}
h4 {
	border-bottom: 2px solid #ddd;
	padding: 5px 0px;
}
.contacts-title{
	font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 10px;
}
.notification-message{
	margin: 0px 0 0 40px;
}
.list-group-contacts{
	min-height: 450px;
    max-height: 500px;
    overflow-y: scroll;
}
.friend-list{
    height: 96px;
}
.time-posted{
    color: #0A920A;
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}