<!DOCTYPE html>
<html ng-app="dashboardAppController">
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css"></style>
    <link rel="stylesheet" href="/css/bootstrap-social.css"></style>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
	<link rel="stylesheet" type="text/css" href="/css/sweet-alert.css">

    <script type="text/javascript" src="/js/sweet-alert.min.js"></script>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/angular-timeago.js"></script>
	<script type="text/javascript">
		var user =<%-JSON.stringify(user)%>
	</script>
	<script type="text/javascript" src="/js/dashboard/dashboardAppController.js"></script>
  </head>
 	<body ng-controller="parentController">
  		<header ng-controller="headerController">
	  		<nav class="navbar navbar-inverse navbar-fixed-top">
		      <div class="container-fluid">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <a class="navbar-brand" href="/">GossipGirls</a>
		        </div>
		        <div id="navbar" class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
		            <li>
		            	<div class="btn btn-inverse link-ds">Home</div>
		            </li>
		            <li >
		            	<div class="btn btn-inverse link-ds"><span class="glyphicon glyphicon-user"></span> <%=user.name%> </div>	
		            </li>
		            <!-- <li class="dropdown">
		            	<div class="dropdown-toggle btn btn-inverse" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="image-notification" src="/img/notification.png"></div>	
		            	<ul class="dropdown-menu">
			                <li><a href="#">Settings</a></li>
			                <li><a href="#">Logout</a></li>
			                <li><a href="#">Help</a></li>
			                <li><a href="#">Support Inbox</a></li>
		              	</ul>
		            </li> -->
		            <li class="dropdown">
		              <div class="dropdown-toggle btn btn-inverse" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></div>
		              <ul class="dropdown-menu">
		                <li><a href="">Settings</a></li>
		                <li><a href="" ng-click="logout()">Logout</a></li>
		                <li><a href="">Help</a></li>
		                <li><a href="">Support Inbox</a></li>
		              </ul>
		            </li>
		          </ul>
		        </div><!--/.nav-collapse -->
		      </div>
		    </nav>
	  	</header>
	  	<div class="main-section">
	  		<div class="container-fluid-cs">
	  			<div class="row">
	  				<div class="col-md-3 ">
	  					<!-- user profile information -->
	  					<div class="thumbnail" style="margin-bottom: 0px;">
					      <img ng-src="{{user.userInfo.imageUrl}}" class="user-image" alt="user-image">
					      <div class="caption">
					        <h3 class="text-center">{{user.name.toUpperCase()}}</h3>
					        <p class="text-center">{{user.userInfo.Profession}}</p>
					        <p class="text-center">
						        <a class="btn btn-social-icon btn-twitter">
								    <span class="fa fa-twitter"></span>
								</a>
						        <a class="btn btn-social-icon btn-facebook">
								    <span class="fa fa-facebook"></span>
								</a>
						        <a class="btn btn-social-icon btn-github">
								    <span class="fa fa-github"></span>
								</a>
						    </p>
					      </div>
					    </div>
					    <div class="panel-body">
                            <h4 class="text-title">
                            	Friend Suggestions
                            </h4>
                            <div class="row">
                                <div class="col-md-4 col-xs-4 friend-list" ng-repeat="friend in friendSuggestions">
                                    <a href="/i/profile/{{friend._id}}" class="friend">
                                        <img ng-src="{{friend.userInfo.imageUrl}}" class="friend-image">
                                        <div class="friend-name">{{friend.name}}</div>
                                    </a>                                            
                                </div>
                            </div>
                            <div class="row text-center">
                            	<button class="btn btn-subscribe" ng-click="toggleSubscription()"><span ng-class="globalSubscribed?'fa fa-heart':'fa fa-heart-o'"></span> Subscribe All</button>
                            </div>
                        </div>
	  				</div>
	  				<div class="col-md-6 right-left-border">
	  					<!-- update where about section user news feeds -->
	  					<div class="share-where-about">
		  					<form  role="form" class="facebook-share-box" name="statusForm" ng-submit="postStatus(statusForm.$valid)" novalidate>
								<div class="share">
									<div class="panel panel-default">
					                      <div class="panel-heading"><img  class="gossip-girls-icon" src="/img/Talk Female-48.png" alt="gossip-girls"> Where About</div>
					                      <div class="panel-body">
					                        <div class="">
					                            <textarea name="message" cols="40" rows="10" id="status_message" class="form-control message" style="height: 62px; overflow: hidden;border: 1px solid rgba(0, 0, 0, 0.11)" placeholder="Let people know, where you been ?" ng-model="status.statusMessage" required></textarea>
											</div>
					                      </div>
											<div class="panel-footer">
													<div class="row">
														<div class="col-md-7">
															<div class="form-group">
																<div class="btn-group">
																  <button type="button" class="btn btn-default" ng-click="csoon()"><i class="glyphicon glyphicon-map-marker"></i> Location</button>
																  <button type="button" class="btn btn-default" ng-click="csoon()"><i class="glyphicon glyphicon-picture"></i> Photo</button>
																</div>
															</div>
														</div>
														<div class="col-md-5 text-right">
															<div class="form-group">
																<input type="submit" name="submit" value="Post" class="btn btn-primary">
															</div>
														</div>
													</div>
											</div>
					                    </div>
								</div>
							</form>
	  					</div>
	  					<div class="timeline-item-content animated fadeIn" ng-repeat="status in statusList" nf-if="status.statusType=='status">
	                        <div class="timeline-heading padding-bottom-0">
	                        	<div class="user-posted inline">
		                            <img class="timeline-heading-icon" ng-src="{{status.imageUrl}}"> 
		                            <a style="margin-left:5px;" href="#">{{status.name}}</a>
	                        	</div>
	                        	<div class="user-post-ts inline pull-right">
		                            posted status 
		                            <span class="time-stamp">{{dateFormat(status.timeStamp)}}</span>
	                        		<img src="/img/globe.png" class="image-notification">
		                        </div>
	                        </div>                                        
	                        <div class="timeline-body">   
	                        	<p class="message">
	                        		{{status.statusMessage}}
	                        	</p>
	                        </div>                
	                    </div>
	                </div>
	  				<div class="col-md-3">
	  					<!-- subscribed user notifications -->
	  					<div class="block">
                            <div class="list-group border-bottom">
                                <a href="#" class="list-group-item" style="background-color: #09BB08;color: white;font-weight: 600;font-size: 17px;">
                                	<img src="/img/alert.png" class="timeline-heading-icon"> Notifications 
                                	<span class="badge badge-success" style="margin: 5px;">{{notifications.length}}</span>
                                </a>
                            </div>                        
                        </div>
	  					<div class="list-group list-group-contacts border-bottom push-down-10">
                            <a href="#" class="list-group-item" ng-repeat="item in notifications">
                                <div class="list-group-status status-online"></div>
                                <img ng-src="{{item.status.imageUrl}}" class="pull-left friend-image-notification" alt="Dmitry Ivaniuk">
                                <span class="contacts-title">{{item.status.name}}</span>
                                <!-- <span class="time-posted pull-right">posted {{timeDiff(item.status.timeStamp)}}ago </span> -->
                                <span class="time-posted pull-right">
                                	<time-ago from-time='{{ item.status.timeStamp }}'></time-ago>
                                </span>
                                <div class="notification-message">
                                	<p ng-if="item.notificationType=='status'">{{item.status.statusMessage}}</p>
                                	<div ng-if="item.notificationType=='info'">
                                		<p ng-repeat="i in item.status.statusArray">{{i}}</p>
                                	</div>
                                </div>
                            </a>                                
                        </div>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
  	</body>
</html>