<!DOCTYPE HTML>
<html>
<head>
<title>404</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/css/style.css">
<link href='http://fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="wrap">
		<div class="main">
			<div class="banner">
				<img src="/img/banner.png" alt="" />
			</div>
			<div class="text">
				<h1>The requested url was not found !...</h1>
				<p>Sorry!Evidently the document you were looking for has either been moved or no longer exist,,</p>
			</div>
		</div>
	</div>
</body>
</html>