<!DOCTYPE html>
<html ng-app="loginAppController">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css"></style>
	<style type="text/css">
		body{
		    background:url(/img/pinlayer2.png) left repeat;
			background-color: white;
		}
		body, html {
		    height: 100%;
		    background:url(/img/pinlayer2.png) left repeat;
			background-color: rgb(253, 253, 253);
		}

		.card-container.card {
		    text-align: center;
		    border: 1px solid #eee;
		    padding: 50px 40px;
		    border-radius: 4px;
		    background-color: rgb(255, 255, 255);
		}
		.btn {
		    font-weight: 700;
		    -moz-user-select: none;
		    -webkit-user-select: none;
		    user-select: none;
		    cursor: default;
		}
		.profile-img-card{
			border-radius: 50%;
    		width: 120px;
		}
		.form-signin{
			padding: 20px;
		}
		.form-control{
			margin:10px 0;
		}
		.alert {
    		padding: 10px;
    		margin: 10px 0;
    	}
    	.glyphicon-remove{
    		float: right;
		    vertical-align: top;
		    margin-top: 2px;
		    color: white;
		    cursor: pointer;
    	}
	</style>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/parllax.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/login/loginAppController.js"></script>
	<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
  </head>

  <body>
    <div class="container-fluid" ng-controller="parentController">
        <div class="col-md-4 col-md-offset-4 card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" name="loginForm" ng-submit="loginSubmit(loginForm.$valid)" novalidate>
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="userCredentials.username" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" 
                ng-model="userCredentials.password" required>
                <button class="btn btn-lg btn-primary btn-block " type="submit">Sign in</button>
                <div class="alert alert-danger" role="alert" style="display: none;">
                	Invalid Usename OR Password
                	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </div>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
  </body>
</html>