<!DOCTYPE html>
<html ng-app="profileAppController">
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css"></style>
    <link rel="stylesheet" href="/css/bootstrap-social.css"></style>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Montserrat:400,700'>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/css/sweet-alert.css">

    <script type="text/javascript" src="/js/sweet-alert.min.js"></script>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/profile/profileAppController.js"></script>
	<style type="text/css">
		.container-fluid-cs {
		    padding: 0 15px !important;
		    margin-top: -2px;
		}
		.profile-data{
			position: relative;
		    color: rgba(34, 34, 34, 0.81);
		    font-weight: 600;
		    font-size: 20px;
		}
		.info-icon{
			margin-right: 5px;
		}
		.info-span{
			color: #07075A;
		    font-weight: 500;
		    font-size: 14px;
		}
		.push-10-down{
			padding: 5px 0;
		}
		.photos{
			width: 98%;
		    border: 2px solid #ccc;
		    border-radius: 3px;
		}
	</style>
	<script type="text/javascript">
		var user =<%-JSON.stringify(user)%>;
		var visitedUser=<%-JSON.stringify(visitedUser)%>;
	</script>
  </head>
 	<body ng-controller="parentController">
  		<header ng-controller="headerController">
	  		<nav class="navbar navbar-inverse navbar-fixed-top">
		      <div class="container-fluid">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <a class="navbar-brand" href="/">GossipGirls</a>
		        </div>
		        <div id="navbar" class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
		            <li>
		            	<div class="btn btn-inverse link-ds">Home</div>
		            </li>
		            <li >
		            	<div class="btn btn-inverse link-ds"><span class="glyphicon glyphicon-user"></span> <%=user.name%> </div>	
		            </li>
		            <!-- <li class="dropdown">
		            	<div class="dropdown-toggle btn btn-inverse" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="image-notification" src="/img/notification.png"></div>	
		            	<ul class="dropdown-menu">
			                <li><a href="#">Settings</a></li>
			                <li><a href="#">Logout</a></li>
			                <li><a href="#">Help</a></li>
			                <li><a href="#">Support Inbox</a></li>
		              	</ul>
		            </li> -->
		            <li class="dropdown">
		              <div class="dropdown-toggle btn btn-inverse" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></div>
		              <ul class="dropdown-menu">
		                <li><a href="">Settings</a></li>
		                <li><a href="" ng-click="logout()">Logout</a></li>
		                <li><a href="">Help</a></li>
		                <li><a href="">Support Inbox</a></li>
		              </ul>
		            </li>
		          </ul>
		        </div><!--/.nav-collapse -->
		      </div>
		    </nav>
	  	</header>
	  	<div class="main-section">
	  		<div class="container-fluid-cs">
	  			<div class="row">
	  				<div class="col-md-12" style="padding:0px;">
				        <div class="card hovercard">
				            <div class="card-background">
				                <img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/">
				            </div>
				            <div class="useravatar">
				                <img ng-src="{{visitedUser.userInfo.imageUrl}}">
				            </div>
				            <div class="profile-data">
                                <div class="profile-data-name">{{visitedUser.name}}</div>
                                <div class="profile-data-title">{{visitedUser.userInfo.Profession}}</div>
                            </div>
                            <div class="panel-body">                                    
	                            <div class="row col-md-6 col-md-offset-3">
	                                <div class="col-md-3 col-md-offset-3">
	                                    <button class="btn btn-info btn-rounded btn-block" ng-click="subscribeUser()"><span ng-class="subscribed?'fa fa-heart':'fa fa-heart-o'"></span> Subscribe</button>
	                                </div>
	                                <div class="col-md-3">
	                                    <button class="btn btn-primary btn-rounded btn-block" ng-click="csoon()"><span class="fa fa-comments-o"></span> Chat</button>
	                                </div>
	                            </div>
	                        </div>
				        </div>
				        <div class="panel-body">
				        	<div class="col-md-3" style="border: 2px solid #eee;border-radius:5px;padding: 0px;">
				        			<div class="block">
			                            <div class="list-group border-bottom">
			                                <a href="#" class="list-group-item" style="background-color: #337AB7;color: white;font-weight: 600;font-size: 17px;    vertical-align: baseline;line-height: 20px">
			                                <img src="/img/user.png" class="timeline-heading-icon"> <span>About </span>
			                                </a>
			                            </div>                        
			                        </div>
			                        <div class="about-information" style="padding: 0px 20px 15px;">
					        			<div class="push-10-down">
					        				<div class="info-icon">
					        				<img src="/img/nickname.png">  call me <span class="info-span">{{visitedUser.userInfo['nick-name']}}</span></div>
					        			</div>
					        			<div class="push-10-down">
					        				<div class="info-icon">
					        				<img src="/img/birthday.png">  birthday on <span class="info-span">{{visitedUser.userInfo.DOB}}</span></div>
					        			</div>
					        			<div class="push-10-down">
					        				<div class="info-icon">
					        				<img src="/img/email.png">  email at <span class="info-span">{{visitedUser.email}}</span></div>
					        			</div>
					        			<div class="push-10-down">
					        				<div class="info-icon">
					        				<img src="/img/phone.png">  call me on <span class="info-span">{{visitedUser.userInfo.phoneNo}}</span></div>
					        			</div>
					        			<div class="push-10-down">
					        				<div class="info-icon">
					        				<img src="/img/marker.png">  lives in <span class="info-span">{{visitedUser.userInfo.address}}</span></div>
					        			</div>
			                        </div>
				        	</div>
				        	<div class="col-md-9">
				        		<div style="border: 2px solid #eee;border-radius:5px;padding: 0px 15px;">
				        			<h3 style="border-bottom: 2px solid #eee;padding-bottom: 10px;">Photos</h3>
					        		<div class="photo row" style="margin-bottom: 15px;">
					        			<div class="col-md-4" style="padding: 5px 15px">
					        				<img src="/img/11.jpg" class="photos">
					        			</div>
					        			<div class="col-md-4" style="padding: 5px 15px">
					        				<img src="/img/22.jpg" class="photos">
					        			</div>
					        			<div class="col-md-4" style="padding: 5px 15px">
					        				<img src="/img/31.jpg" class="photos">
					        			</div>
					        			<div class="col-md-4" style="padding: 5px 15px">
					        				<img src="/img/41.jpg" class="photos">
					        			</div>
					        			<div class="col-md-4" style="padding: 5px 15px">
					        				<img src="/img/4.jpg" class="photos">
					        			</div>
					        			<div class="col-md-4" style="padding: 5px 15px">
					        				<img src="/img/1.jpg" class="photos">
					        			</div>
					        		</div>
				        		</div>
				        	</div>
				        </div>
				    </div>	
	  			</div>
	  		</div>
	  	</div>
  	</body>
</html>